<!-- <div class="scroll-container"> -->
    <main id="about-container">
        <div class="container d-flex flex-column justify-content-center align-items-center">
            <div class="header-wrapper">
                <h1>ABOUT</h1>
                <h2>FIFTH DIMENSION</h2>
            </div>
            <div class="objective-wrapper">
                <p>We cover a large range of creative digital projects, platforms, and campaigns to create experiences.</p>
            </div>
            <div class="clients-wrapper">
                <h3>
                    Our Clients
                </h3>
                <p>Proudly served some of the most famous brands</p>
                <ul class="clients-grid-wrapper">
                    <li class="client-container light-up-cursor">
                        <img src="../../../assets/img/clients/cheetosLogoWhite.png" title="Cheetos" alt="Cheetos" />
                    </li>
                    <li class="client-container light-up-cursor">
                        <img src="../../../assets/img/clients/costaLogoWhite.png" title="Costa coffee" alt="Costa coffee" />
                    </li>
                    <li class="client-container light-up-cursor">
                        <img src="../../../assets/img/clients/nescafeLogoWhite.png" title="Nescafe" alt="Nescafe" />
                    </li>
                    <li class="client-container light-up-cursor">
                        <img src="../../../assets/img/clients/legoLogoWhite.png" title="Lego" alt="Lego" />
                    </li>
                    <li class="client-container light-up-cursor">
                        <img src="../../../assets/img/clients/hardeesLogoWhite.png" title="Hardees" alt="Hardees" />
                    </li>
                    <li class="client-container light-up-cursor">
                        <img src="../../../assets/img/clients/heinzLogoWhite.png" title="Heinz" alt="Heinz" />
                    </li>
                    <li class="client-container light-up-cursor">
                        <img src="../../../assets/img/clients/kitkatLogoWhite.png" title="Kitkat" alt="Kitkat" />
                    </li>
                    <li class="client-container light-up-cursor">
                        <img src="../../../assets/img/clients/smurfsLogoWhite.png" title="Smurfs" alt="Smurfs" />
                    </li>
                </ul>
                <div class="btn-container text-center">
                    <button mat-flat-button color="accent" class="next-btn magic-hover magic-hover__square m-5" type="button">
                        EXPLORE MORE
                        <fa-icon [icon]="faChevronRight"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="testimonials-container">
                <h3>
                    What people are saying about us
                </h3>
                <div id="testimonials-swiper" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <p>
                                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatibus ipsa sit neque vero labore quisquam explicabo reprehenderit facere cum."
                            </p>
                            <div class="client-review">
                                John doe - CEO at CompanyX
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <p>
                                "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum sunt natus repellendus laudantium veniam suscipit quos, tempora magnam eos ea nesciunt soluta impedit sed laboriosam, similique quo ut blanditiis quis?"
                            </p>
                            <div class="client-review">
                                Mikel Smith - Designer at CompanyY
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <p>
                                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatibus."
                            </p>
                            <div class="client-review">
                                Carine Miles - Manager at CompanyZ
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <p>
                                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ad, quos cumque corporis magni cum!"
                            </p>
                            <div class="client-review">
                                Frank Mohamed - Director at 8Low
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
        
                    <div id="testimonials-nav-btns-container" class="nav-btns-container">
                        <button class="prev-btn magic-hover magic-hover__square" type="button">
                            <fa-icon [icon]="faChevronLeft"></fa-icon>
                        </button>
                        <button class="next-btn magic-hover magic-hover__square" type="button">
                            <fa-icon [icon]="faChevronRight"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="next-container">
            <h3>
                We’re looking forward to hearing from you
            </h3>
            <div class="next-wrapper">
                <p>Let's Talk</p>
                <h1>
                    <a routerLink="/contact-us" class="magic-hover magic-hover__square">
                        CONTACT US
                    </a>
                </h1>
            </div>
        </div>
    </main>
<!-- </div> -->
            
        



