$primary-color: #731991;
$secondary-color: #fefefe;
$xlight-gray-color: #dfdfdf;
$light-gray-color: #cfcfcf;
$dark-gray-color: #909090;
$warning-red-color: #FB0055;
$orange-color: #FFD427;
$green-color: #1AE1A4;
$black-color: #151515;

$font-size: 22px;
$main-font: 'Montserrat', sans-serif;
$header-font: 'Oswald', sans-serif;